/*=======
   Gist関連
  =======*/

/* 奇数行と偶数行の背景色を濃いグレーで統一する */
/*.gist table tr {
background-color: rgba(20, 20, 20, 0.2) !important;
}*/
/**コード表示ボックス偶数行の背景色を変更**/
table.highlight tr:nth-child(2n) td {
  background: #fff0c4;
}

/* 行番号を非表示にする */
/*
.blob-num {
  display: none;
}*/

/* ソースコード下部のボックスを非表示にする */
/*
.gist-meta {
  display: none;
}*/

.gist-file {
  border-bottom: none !important;
}

/* 文字大きくしてフォント変更する */
table.highlight tr td,table.highlight tr td span {
	font-size: 12px !important;
	font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace !important;
}

/* 上部の余白を開ける */
/*
.gist tr:first-child td {
  padding-top: 12px !important;
}*/

/* 下部の余白を開ける */
/*
.gist tr:last-child td {
  padding-bottom: 12px !important;
}*/

.cm-variable,
.cm-stringm,
.line-numbers,
.CodeMirror-gutter-elt,
.view-line
{
    line-height: 10px;
    font-size: 12px;
    font-weight: 600;
}

.gist-data {
  max-height : 20em ; 
    overflow : auto ;
}